FMP_API_KEY=REEMPLAZA_CON_TU_LLAVE
FMP_RATE_LIMIT_PER_MINUTE=250
FMP_WORKERS=12
FMP_CACHE_HOURS=18
SMART_MONEY_LENGTH=14
SMART_MONEY_VOLUME_LENGTH=20
SMART_MONEY_EMA=5
MIN_DELTA_SM=0.25
GAP_MIN_PCT=1.0
GAP_ATR_MULTIPLIER=0.50
ATR_LENGTH=14
